*{
    text-align: justify;
    
}
h6{
    color: #ccc;
}
body{
    background: #e6e6e6;
    
}
header{
    background: navy;
    margin: 0;
    text-align: center;
}
#logo{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5px;
}

nav ul{
    margin: 0;
    list-style: none;
    font-size: 1.4em;
}
nav ul li{
    display: inline;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    padding-top: 10px;
}
nav ul li a:hover{
    background: white;
}

article{
    margin-top: 10px;
    border-radius: 15px;
    padding-top: 20px;
    background: whitesmoke
}
/* Rodapé
*/
footer{
    background: navy;
    color: whitesmoke;
    text-align: center;
}
footer ul li a {
    color: whitesmoke;
}
.center{
    text-align: center;
    margin-top: 15px;
}
#tamanho{
    width: 60px;
}
#tamanho2{
    width: 260px;
}
#text-personalizado{
    color:white;
}
#text-personalizado:hover{
    color:gray;
}
p:first-of-type{
    text-indent: 2.5em;
}

/*Fundo do card noticia*/
#noticia{
    background: url(/imagens/Projetos/noticias/noticia-fundo.png) repeat-x;
}

#museu{
    background: url(/imagens/Projetos/museu-nacional/museu.jpeg) repeat-x;
}

/*Icones*/
#face-f{
    color: whitesmoke;

}
#face{
    color: darkblue;
}
#insta{
    color: rebeccapurple;
}
#git{
    color: black
}


